.videoCard {
    color: azure;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transfrom 100ms ease;
}

.videoCard>img {
    height: 300px;
    object-fit: contain;
    width: 500px;
}

.videoCard:hover {
    transform: scale(1.09);
}

.videoCard>h2 {
    padding-top: 10px;
}

.vidoCard_stats {
    display: none;
}

.videoCard:hover > .vidoCard_stats {
    display: inline;
}