.videoCard {
    color: azure;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transfrom 100ms ease;
    margin: 0 auto;
}

.videoCard>img {
    height: 300px;
    object-fit: contain;
    width: 500px;
    border-radius: 50px;
}

.videoCard:hover {
    transform: scale(1.09);
}

.videoCard>h2 {
    padding-top: 10px;
}

.vidoCard_stats {
    display: none;
}

.videoCard:hover>.vidoCard_stats {
    display: inline;
}

/* Media query */

/* Small Screen */

@media only screen and (max-width: 385px) {
    .videoCard {
        padding: 0;
        width: 90%;
    }
    .videoCard>img {
        height: 300px;
        object-fit: contain;
        width: 100%;
    }
}

/* Large screen */

@media only screen and (max-width: 485px) {
    .videoCard {
        padding: 0;
        width: 90%;
    }
    .videoCard>img {
        height: 300px;
        object-fit: contain;
        width: 100%;
    }
}

/* Tablet Screen */

@media only screen and (min-width: 765px) {
    .videoCard {
        width: 500px;
    }
    .videoCard>img {
        height: 300px;
        object-fit: contain;
        width: 500px;
    }
}

/* Laptop screen */

@media only screen and (min-width: 1020px) {
    .videoCard {
        width: 500px;
    }
    .videoCard>img {
        height: 300px;
        object-fit: contain;
        width: 500px;
    }
}